<link rel="stylesheet" type="text/css" href="css/style.css">
<html>
<!--
  <head>
    <%- include('header') %>
  </head>
  -->

<div class="mainpage-body">
  <%- include ('submitter_navbar') %>
  <!--
  <h1>Site</h1>


  <ul>
      Welcome To Site.
  </ul>
  -->
  <div class="mainpage-container">
    <div class="mainpage-content">
      <h2>Welcome! <%= AccID %> ( <%= name %> <%= role %>님)</h2>
    </div>
  </div>
</div>

</html>