<link rel="stylesheet" type="text/css" href="css/style.css">

<style>
    .big-container {
        background-color: #E6E6E6;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 20px;
        padding: 15px;
    }

    .mini-container {
        margin: 1%;
    }
</style>

<title>
    <%= title %>
</title>
<body>
<%- include ('admin_navbar') %>
    <div style="margin:30px;">
        <h1>회원 관리</h1>
        <hr>

        <h2>검색</h2>
        <button name="back" id="back" style="font-size: larger; margin:1%;">⬅</button>

        <div>
            <div class="big-container">
                검색결과
            </div>

        </div>

        <hr>
        <div style="margin:1%;">
        <table border="1" bordercolor="gray" text-align="center">
            <th>ID</th>
            <th>이름</th>
            <th>역할</th>
            <th>성별</th>
            <th>생년월일</th>
            <%if (task!=null){%>
                <th>참여중인 태스크</th>
            <%}%>
            <th>상세 정보</th>
            <% for(var i = 0; i < data.length; i++){ %>
            <tr>
                <td><%= data[i].AccID %></td>
                <td><%= data[i].Name %></td>
                <td>
                    <% if(data[i].AccID_Admin != null){%>
                    관리자
                    <% } else if(data[i].AccID_Submit != null){%>
                    제출자
                    <% } else if(data[i].AccID_Eval != null){ %>
                    평가자
                    <% } %>
                </td>
                <td><%= data[i].Gender %></td>
                <td><%= data[i].DOB %></td>
                <%if (task!=null){%>
                    <td>
                        
                        <%= task %>
                        
                    </td>
                <%}%>
                <td>
                    <button id='<%= data[i].AccID %>_detail' value='<%= data[i].AccID %>'>상세 정보</button>
                </td>
            </tr>
            <% } %>
        </table>
        </div>

    </div>
</body>

<script>
    document.getElementById("back").addEventListener("click",()=>{
        window.location.href= './member_mng';
    });

    //상세버튼 클릭시
    const detail_buttons = document.querySelectorAll('[id$="_detail"]');
    for(let i = 0; i < detail_buttons.length; i ++){
        detail_buttons[i].addEventListener("click", ()=>{
            window.location.href='/administrator/member_detail?id=' + detail_buttons[i].value;
        })
    }
</script>